<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base-layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${employee.firstName} + ${ employee.lastName}"></title>
</head>
<body>

    <div layout:fragment="content">
        <form action="#" th:action="@{/employee/delete}" th:object="${employee}" method="post" style="margin-top: 20px;">
            <input type="hidden" th:field="*{id}">
            <h2 th:text="'Full Name: '+ ${employee.firstName} +' '+ ${employee.lastName}"></h2>
            <p th:text="'Email: ' + ${employee.email}"></p>
            <p th:text="'Passport Number: ' + ${employee.passportNumber}"></p>
            <a th:href="@{/employee/edit/{id}(id=${employee.id})}">Edit Employee</a>
            <!-- <a th:href="@{/employee/delete/{id}(id=${employee.id})}">Delete</a> -->
            <button type="submit">Delete</button>
        </form>
    </div>

</body>
</html>
