<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List All Employee</title>
<link rel="stylesheet" th:href="@{/css/myStyle.css}" />
</head>
<body>
    <a href="/employee">Trang đầu</a>
    <a href="/employee/add">Thêm mới</a>
    <a href="/employee/search">Tìm kiếm</a><br>
    <table>
        <thead>
            <th>Id</th>
            <th>FirtName</th>
            <th>lastName</th>
            <th>FullName</th>
            <th>Email</th>
            <th>View Detail</th>
            <!-- <th>PassportNumber</th> -->
        </thead>

        <tbody>
            <tr th:each="employee, iStart : ${employees}">
                <td th:text="${iStart.index+1}"></td>
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.fullName}"></td>
                <td th:text="${employee.email}"></td>
                <td><a th:href="@{/employee/{id}(id=${employee.id})}">view detail</a></td>
                <!-- <td th:text="${employee.passportNumber}"></td> -->
            </tr>
        </tbody>
    </table>
</body>
</html>