<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>
<body>
    <form action="#" th:action="@{/employee/save}" th:object="${employee}" method="post">
        <input type="hidden" placeholder="Id" th:field="*{id}"><br>
        <input type="text" placeholder="First Name" required th:field="*{firstName}"/><br><br>
        <input type="text" placeholder="Last Name" required th:field="*{lastName}"/><br><br>
        <input type="text" placeholder="Email" required th:field="*{email}"/><br><br>
        <input type="text" placeholder="Passport Number" required th:field="*{passportNumber}"/><br><br>
        <button type="submit">Save</button>
</form>
</body>
</html>